.flexcontainer {
    background-color: aqua;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}

.flexitem {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: brown;
    width: 150px;
    flex-grow: 1
}

.bigitem {
    /* height: 100px; */
    /* width: 100px; */
    flex-grow: 5
}
